:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --menu-list-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --nav-color-hover: rgb(50 49 45 / 0.4);
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --logo-color: #ffc2e6; 
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --menu-list-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --nav-color-hover: rgb(50 49 45 / 0.4);
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --logo-color: #ffc2e6; 
  }
  .theme-auto .rec {
    display: none;
  }
}

.theme-light .rec {
  display: none;
}